body {
	padding: 0;
	margin: 0;
	background: #FFFFFF;
}

.body {
	height: 1720px;
	width: 1280px;
	margin: 0 auto;
}

.header {
	position: relative;
	border-bottom: 2px solid #e0edf9;
}

.do {
	display: none;
	background: gray;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.7;
	z-index: 998;	
}

.form {
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	position: fixed;
	top: -505px;
	left: 400px;
	height: 500px;
	width: 430px;
	z-index: 999;
	color: black;
}

.form form {
	margin-left: 25px;
	margin-top: 40px;
}

.form table td{
	padding-bottom: 20px; 
}

.form input[type="text"] {
	position: absolute;
	right: 100px;
	border-color: #e0edf9;
	border-radius: 5px;
}

.menu {
	width: 1280px;
	height: 50px;

	position: relative;

	font: 20px/1.5em Trebuchet MS, serif;
	background: #3498db;	
	font-weight: bolder;
}

.menu ul {
	list-style: none;
	text-align: center;
}

.menu ul li {
	display: inline;
	padding: 1px 10px 20px 10px;
}

.menu ul li:hover {
	background: #266d9d;
	cursor: pointer;
}

.menu ul li a:link {
	text-decoration: none;
	color: white;
}

.menu ul li a:visited {
	text-decoration: none;
	color: white;
}

.menu ul li a:hover {
	text-decoration: none;
	color: white;
}

.menu ul li a:active {
	text-decoration: none;
	color: white;
}

.menu .left {
    width: 0;
    height: 0;
	
	position: absolute;
	bottom: -27px;

    border-top: 27px solid #266d9d; 
    border-left: 40px solid transparent;

    z-index: 2;
    
}

.menu .right {
	width: 0;
    height: 0;
	
	position: absolute;
	right: 0;
	bottom: -27px;

    border-top: 27px solid #266d9d; 
    border-right: 40px solid transparent;	
    z-index: 2;
}

.baner {
	height: 65px; 
	width: 470px;
	position: absolute;
	top: 20px;
	left: 450px;
	border: 3px solid white;
	outline: 1px solid #eef3f6;
	background: #eef3f6;
}

.baner .title {
	position: relative;
	top: 20px;

	color: black;
	font-size: 29pt;
	font-family: Arial;
	font-style: italic;
}

.login {
	position: absolute;
	right: 70px;
	top: 10px;
}

.login .text {
	margin-left: 20px;
}

.login input[type="text"] {
	height: 24px;
	width: 90px;
	border: 1px solid #98a7b5;
	border-radius: 10px;
	padding: 5px;
}

.login input[type="password"] {
	height: 24px;
	width: 90px;
	border: 1px solid #98a7b5;
	border-radius: 10px;
	padding: 5px;
}

.login input[type="text"]:focus {
	outline: none;
}

.login #login {
	width: 56px;
	height: 26px;
	color: #fef4e9;
	border: solid 1px #2979c1;
	border-radius: 5px;
	background: #4091d8;
	background: -webkit-gradient(linear, left top, left bottom, from(#76b2e5), to(#4091d8));
	background: -moz-linear-gradient(top,  #76b2e5,  #4091d8);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#76b2e5', endColorstr='#4091d8');
}

.login input[type="button"]:active {
	color: #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#7fbff6), to(#3379b6));
	background: -moz-linear-gradient(top,  #7fbff6,  #3379b6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fbff6', endColorstr='#3379b6');
}

.login .link {
	position: absolute;
	left:130px;
}

.login .cube {
	height: 70px;

	position: relative;
	padding: 5px;
	left: -150px;

    cursor: pointer;
    z-index: 10;
    background-color: 100px;
    -webkit-box-shadow: 0 0 10px 2px rgba(200, 200, 200, 0.5);
       -moz-box-shadow: 0 0 10px 2px rgba(200, 200, 200, 0.5);
            box-shadow: 0 0 10px 1px rgba(200, 200, 200, 0.5);

    transition: width .2s ease-in-out,  top .2s ease-in-out, box-shadow .3s ease-in-out;
}

.login .cube a:link {
	color: grey;
	text-decoration: none;
}

.login .cube a:hover {
	color: grey;
	text-decoration: none;
}

.login .cube a:active {
	color: grey;
	text-decoration: none;
}

.login .cube a:visited {
	color: grey;
	text-decoration: none;

}

.link a:link {
	color: blue;	
}

.link a:hover {
	color: blue;	
}

.link a:active {
	color: blue;	
}

.link a:visited {
	color: blue;	
}

.wrap {
	position: relative;
	background: white;
	height: 100%;
	width: 100%;
}

.wrap .leftcolum {
	width: 185px;
	height: 1326px;

	position: absolute;
	top: -2px;	
	left: 40px;

	background: #2c3e50;
	border-right: 1px solid #c5cfdc;
}

.wrap .list {
	color: white;
	font: 14px/1.5em Arial;
	font-weight: bold;
	margin-top: 50px;
	cursor: pointer;
}

.wrap .list .title {
	cursor: default;
}

.wrap .list li {
	padding-top: 15px; 
	padding-left: 25px;

	list-style-type: none;
	border-bottom: 1px solid #5ea3df;
}

.wrap .list li ul li:hover {
	background: #2c3e50; /* Old browsers */
	background: -moz-linear-gradient(left, #2c3e50 0%, #526170 50%, #9ba3ac 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2c3e50), color-stop(50%,#526170), color-stop(100%,#9ba3ac)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #2c3e50 0%,#526170 50%,#9ba3ac 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #2c3e50 0%,#526170 50%,#9ba3ac 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #2c3e50 0%,#526170 50%,#9ba3ac 100%); /* IE10+ */
	background: linear-gradient(to right, #2c3e50 0%,#526170 50%,#9ba3ac 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c3e50', endColorstr='#9ba3ac',GradientType=1 ); /* IE6-9 */
}

.wrap .list li ul li{
	padding-left: 0px;
	margin-left: -65px;
}

.wrap .list li ul li a{
	text-decoration: none;
	color: #5ea3df;
}

.wrap .list li ul li a{
	text-decoration: none;
	color: #5ea3df;
}

.wrap .rightcolum {
	width: 252px;
	height: 1326px;

	position: absolute;
	right: 60px;
	
	background: white;
	border-left: 1px solid #cccccc;
}

.list li ul{
	display: none;
}
	
.ad {
	position: absolute;
	left: 10px;
	top: 10px;

	color: #3498db;

	font-size: 19px;
	font-weight: bold;
}

.reviews {
	position: absolute;
	bottom: 800px;
	left: 10px;
	color: white;
	font: 19px/1.5em Times New Roman, serif;
	font-weight: bold;
}

.square {
	background: #ebf0f3;
	height: 15px;
	width: 510px;
	position: absolute;
	top: 7px;
	left: 105px;
}

#close {
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

.center {
	position: absolute;
	left: 250px;
	top: 20px;
	width: 690px;
}

.center .title {
	color: #5ea3df;
	font: 19px/1.5em Times New Roman, serif;
	font-weight: bold;
}

.center .tutor {
	display: none;
}

.center .tutor #id_subject_name {
	display: none;
}

.center .tutor #id_subject_name .firstSelect {
	display: none;
}

.center .tutor #id_subject_name .secondSelect {
	display: none;
}

.center .tutor #id_subject_name .thirdSelect {
	display: none;
}

.center .information .person {
	height: 300px;

	position: relative;
}

.person img {
	height: 120px;
	width: 100px;
}

.center .person .photo {
	width: 0;

	float: left;
}

.center .person {
	width: 685px;

	margin-bottom: 20px;

	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.center .person .about {
	width: 400px;
	
	position: relative;
	top: 0;
	left: 150px;
	padding-top: 20px;
	padding-bottom: 5px;
}



.center .person .about div {
	display: none;
}

.center .person .about .name {
	font-size: 20pt;
}

.center .person .about .subject_name {
	font-size: 12pt;
	color: grey;
}

.center .person .about .experience {
	position: relative;
	margin-left: 50px;


	color: grey;
}

.center .person .bid{
	position: relative;

	margin-left: 550px;
}

.center .person .bid img {
	width: 134px;
	height: 19px;
}

.center .person .bid img:hover {
	cursor: pointer;
}

.center .person .bid #bid {
	height: 30px; 
}

.center .fix {
	position: relative;
	right: 300px;
	z-index: 999;
}

.center .fix .formToBid {
	height: 260px;
	width: 180px;

	position: fixed;
	top:360px;
	padding-left: 20px;
	display: none;

	background: #3498db;
	border: 1px solid black;
}


.center .person .bid .formToBid .btn {
	height: 30px;
	width: 70px;
	position: relative;
	top: -20px;
	left: 110px;
	z-index: 992;
	color: #3498db;
	text-align: center;
	font-weight: bolder;
	font-family: Arial;
}

.center .person .bid .formToBid .btn:hover {
	cursor: pointer;
}

.error {
	color: red;
}

.circle { 
    width:10px;
    height:10px;

    position: absolute;
    left: 5px;

    border: 2px solid #e7694f;
    border-radius: 100px;
}