{% extends 'BaseApp/application.html' %}

{% block mainarea %}
    {% if user.is_anonymous %}
            <form action="{% url 'tutor_service:login' %}" method="POST">{% csrf_token %}
                {% for loginform in f %}
                    {{loginform}}
                {% endfor %}
                <input id="login" type="submit" value="Вход">
            </form>
				<br><span class="link"><a href="{% url 'tutor_service:registration' %}" id="reg">Регистрация</a></span>
				<br><span class="link"><a href="#">Забыли пароль?</a></span>
    {% else %}
        <div class="cube">
            <a href="{% url 'tutor_service:logout' %}">Выйти</a><br>
            <a href="{% url 'tutor_service:settings' %}">Настройки</a><br>
            <a href="{% url 'tutor_service:mail' %}">Почта</a><br>
        </div>
    {% endif %}
{% endblock %}

{% block mail %}
        {% if user.is_authenticated %}
               {% for e in email.mail_set.all %}
                     <p>{{e.from_email}}</p><br>
                     <p>{{e.from_user}}</p><br>
                        {% for messages in e.messages_set.all %}
                            <p>{{messages.message}}</p><br>
                        {% endfor %}
                     <p>{{e.date}}</p><br>
                     <div class="send message">
                        {% if is_tutor %}
                        <form action="{% url 'tutor_service:views' %}" method="post">{% csrf_token %}
                            <input type="hidden" name="click" value="confirm"/>
                            <input type="hidden" name="to_email" value="{{e.from_email}}"/>
                            <input type="submit" value="Подтвердить"/>
                        </form>
                        <form action="{% url 'tutor_service:views' %}" method="post">{% csrf_token %}
                            <input type="hidden" name="click" value="denial"/>
                            <input type="hidden" name="to_email" value="{{e.from_email}}"/>
                            <input type="submit" value="Отклонить"/>
                        </form>
                        {% endif %}
                     </div>
               {% endfor %}
        {% endif %}
{% endblock %}